:root {
    --canvas-bg: white;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    object-fit: contain;
    background-color: var(--canvas-bg);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    margin: 0;
}



.customization {
    display: flex;
    align-items: center;
    gap: 12px;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 8px;
}