@import url('./views/game.css');
@import url('./views/home.css');
@import url('./views/lobby.css');
@import url('./views/rooms.css');

@font-face {
    font-family: 'daydream';
    src: url('../assets/fonts/daydream.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'grapesoda';
    src: url('../assets/fonts/grapesoda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'grapesoda', "Cause";

    margin: 0;

    background-color: #123d86;
    background-image: linear-gradient(45deg, #133f8c 25%, transparent 25%, transparent 75%, #133f8c 75%), linear-gradient(45deg, #133f8c 25%, transparent 25%, transparent 75%, #133f8c 75%);
    background-size: 128px 128px;
    background-position: 0 0, 64px 64px;

    height: 100vh;
}

.hidden {
    display: none !important;
    height: 0 !important;
}

button {
    font-family: 'grapesoda', "Cause";
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
    text-shadow:
        3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000,
        3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000;

    border-color: rgb(0, 0, 0, 1);
    border-width: 4px;
    border-style: solid;
    background-color: #0bf2ff;

    padding: .5rem;

    cursor: pointer;
}

button:hover {
    border-color: white;
}

input {
    font-family: 'grapesoda', "Cause";
    font-size: 2rem;

    border-color: rgb(0, 0, 0, 1);
    border-width: 4px;
    border-style: solid;

    min-width: 0;

    padding: 8px;
}