#banner {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .75rem;

    width: 50%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    margin-bottom: 2rem;
}

#banner #image {
    width: 100%;
}

#banner #balls-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#balls-container .ball {
    transition: transform .05s ease;
}

#balls-container .ball:hover {
    transform: scale(1.125);
    cursor: pointer;
}

#setup-panel {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-width: 20%;

    padding: 1rem;
    gap: 1rem;

    background-color: rgb(0, 0, 255, .5);
}

#setup-panel input {
    width: 100%;
}

#avatar-customization {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;

    padding: 0 2.5rem 0 2.5rem;
}

button#random {
    position: absolute;
    top: 0;
    right: 0;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.arrows {
    display: flex;
    align-items: center;
    flex-direction: column;


    height: 80%;
}

button.arrow,
button#random {
    font-size: 2.5rem;

    background: none;
    border: none;

    padding: 0;
}

#join-buttons {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    width: 100%;
}

#join-room {
    background-color: #30ff00;
}

.create-room-form {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    font-size: 2rem;

    width: 100%;
    padding: .75rem;

    background-color: rgba(255, 255, 255, .2);
}

.create-room-form label {
    color: white;
    letter-spacing: 1px;
    text-shadow:
        3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000,
        3px 3px 0 #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000;
}

.create-room-form .create-room-actions {
    display: flex;
    justify-content: space-between;

    gap: .75rem;
}

.create-room-form button.cancel {
    background-color: lightgray;
}